/*global*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    line-height: 2;
    word-wrap: break-word;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 2.5rem;
    position: relative;
  min-height: 5vh;

}
/*utilities*/
.container{
    width: 60%;
    margin:0 auto;
}

.btn {
    display: block;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    text-align: center;

}

.btn-read{
    background-color: black;

}

.btn-courses{
    background-color: rgb(189,83,7);
}



/*header*/
.site-header {
    content: '';
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /*  background-color: rgb(45, 45, 45);
    height: 300px;*/

}
.site-header h1{
    color: white;
    position: absolute;
    margin-top: 20px;
    left: 20%;
}

.site-header a {
    color: white;
    position: relative;
    margin-top: 20px;
    left: 65%;
    top: 20px;
    margin-right: 20px;
}


.a.name1{
    color: white;
    text-align: left;
}

.navigation {
    margin-bottom: 100px;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin-right: 20px;

}

.text-header h2 {
    color: white;
    text-align: center;
}

.text-header p {
    color: white;
    text-align: center;
}

.img-blog{
    margin-left: 160px;
    margin-right: auto;
    margin-top: 20px;
    opacity: .90;
}

.text-blog{
    margin-left: 160px;
    margin-right: auto;
    margin-top: 20px;
    opacity: .90;
}

.text-blog{
    margin-left: 160px;
    margin-right: auto;
    margin-top: 20px;
    opacity: .90;
}

.img-btn{
background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 160px;
    margin-right: auto;
    margin-top: 20px;
}

.a.name1 {
    text-align: left;
}

/*footer*/

.footer {
        position: justify;
        left: 0;
        bottom: 100;
        width: 100%;
        background-color: black;
        color: white;
        text-align: left;

}
.footer nav{
    color: white;
    position: relative;
    margin-right: 20px;
   

}
.footer h1 {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.footer a {
    color: white;
    position: justify;
    margin-right: 20px;
}

/*about*/

.about-container{
    display: flex;
    margin: 50px 0;
}

.about-container img{
    width: 50%;
}

.about-container p{
    width: 50%;
}
.about-container h2{
    text-align: center;
}